@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
.container {
    height: 95vh;
}

::-webkit-inner-spin-button {
    display: none;
}

.clothing-menu-container {
    display: none;
    position: absolute;
    height: 100%;
    width: 42vh;
    background: linear-gradient(175deg, rgba(0, 59, 82, 0.792) 0%, rgba(0,19,27,1) 100%);
}

.clothing-menu-header {
    position: relative;
    height: 30vh;
    width: 100%;
    top: .9vh;
}

.clothing-menu-header-btn {
    position: relative;
    height: 50px;
    top: 3.5vh;
    float: left;
    color: #ffffff;
    text-align: center;
    line-height: 3.5vh;
    transition: all 1s linear;
    border-radius: 1000vh;
    border: 3px solid white;
    
}
.characterTab{
    float: left;
    height: 50px;
    margin-left: 35px;
    margin-top: 40px;
    text-align: center;
}
.clothingTab{
    float: left;
    margin-top: 15px;
    height: 50px;
    margin-left: 85px;
}
.accessoiresTab{
    float: left;
    margin-top: 15px;
    height: 50px;
    margin-left: 130px;
}
.clothing-menu-header-btn:hover {
    color: #444444;
    cursor: pointer;
}

.selected {
    color: #00ccff81;
    border: 3px solid #00ccff81;
}

.clothing-menu-header-btn>p {
    font-family: 'Ubuntu Mono', monospace;
    text-transform: uppercase;
    font-size: 1vh;
    letter-spacing: 0.1vh;
    margin-bottom: -10px;
}
.clothing-menu-header>p{
    font-family: 'Ubuntu Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
    font-size: 3vh;
}
.clothing-menu-header-cameras {
    position: absolute;
    height: 40vh;
    width: 102%;
    margin-top: 350px;
}
.camera{
    position: absolute;
    height: 5.5vh;
    width: 48%;
    margin-top: 300px;
    margin-left: 90px;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    border-bottom: 2px solid white;

}
.clothing-menu-header-camera-btn {
    position: relative;
    height: 10%;
    top: 3.2vh;
    width: 23%;
    float: left;
    margin: 13px;
    color: #ededed;
    text-align: center;
    line-height: 3.7vh;
    transition: all 1s linear;
    border-radius: 1000vh;
    border: 2px solid white;
}

.selected-cam {
    color: #00ccff81;
    border: 2px solid #00ccff81;
}

.clothing-menu-header-camera-btn:hover {
    color: #444444;
    cursor: pointer;
}

.clothing-menu-header-camera-btn>i {
    font-size: 1.4vh;
}

.clothing-menu-roomOutfits-container {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0.3vh;
    right: 0;
    top: 9vh;
    height: 87vh;
    width: 92%;
    overflow-y: scroll !important;
}

.clothing-menu-myOutfits-container {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0.3vh;
    right: 0;
    top: 9vh;
    height: 77vh;
    width: 92%;
    overflow-y: scroll !important;
}

.clothing-menu-outfit-option-button {
    position: relative;
    text-align: center;
    line-height: 4.8vh;
    width: 60%;
    height: 40%;
    margin: 0 auto;
    top: 2.3vh;
    background-color: #dc143c;
    border-radius: 0.75vh;
    transition: all 1s linear;
}

.clothing-menu-outfit-option-button:hover {
    background-color: #444444;
    cursor: pointer;
}

.clothing-menu-outfit-option-button>p {
    color: #ededed;
    text-transform: uppercase;
    font-family: 'Ubuntu Mono', monospace;
    letter-spacing: 0.1vh;
    font-size: 1vh;
}

.clothing-menu-myOutfit-option-button {
    position: absolute;
    text-align: center;
    line-height: 4.8vh;
    width: 40%;
    height: 40%;
    left: 2vh;
    top: 5.1vh;
    background-color: #dc143c;
    border-radius: 0.4vh;
    transition: all 1s linear;
}

.clothing-menu-myOutfit-option-button:hover {
    background-color: #444444;
    cursor: pointer;
}

.clothing-menu-myOutfit-option-button>p {
    color: #ededed;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Ubuntu Mono', monospace;
    letter-spacing: 0.1vh;
    font-size: 1.3vh;
}

.clothing-menu-myOutfit-option-button-remove {
    position: absolute;
    text-align: center;
    line-height: 4.8vh;
    width: 40%;
    height: 40%;
    right: 2vh;
    top: 5.1vh;
    background-color: #dc143c;
    border-radius: 0.4vh;
    transition: all 1s linear;
}

.clothing-menu-myOutfit-option-button-remove:hover {
    background-color: #444444;
}

.clothing-menu-myOutfit-option-button-remove>p {
    color: #ededed;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Ubuntu Mono', monospace;
    letter-spacing: 0.1vh;
    font-size: 1.3vh;
}

.clothing-menu-character-container {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0.3vh;
    right: 0;
    top: 2vh;
    height: 95vh;
    width: 92%;
    overflow-y: scroll !important;
}

.clothing-menu-clothing-container {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0.3vh;
    right: 0;
    height: 95vh;
    width: 92%;
    overflow-y: scroll !important;
}

.clothing-menu-accessoires-container {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0.3vh;
    right: 0;
    height: 95vh;
    width: 92%;
    overflow-y: scroll !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
    background-color: rgb(245 245 245 / 0%);
}

::-webkit-scrollbar {
    width: 0.4vh;
    background-color: rgb(245 245 245 / 0%);
}

::-webkit-scrollbar-thumb {
    background-color: #00fbff !important;
    box-shadow: 0 0 1em 0 #00fbff;
    border-radius: 10px;
}

.clothing-menu-option {
    position: relative;
    width: 100%;
    height: 14%;

}

.clothing-menu-option-header {
    color: #ededed;
    padding: 0.8vh;
    width: 100%;
    margin-bottom: -15px;
    margin-left: -.3vh;
}

.clothing-menu-option-header>p {
    text-align: left;
    font-family: 'Ubuntu Mono', monospace;
    text-transform: uppercase;
    font-size: 1.4vh;
    letter-spacing: 0.1vh;
}

.clothing-menu-option-item {
    position: relative;
    float: left;
    height: 50%;
    width: 40%;
    margin-left: 2.4vh;
    margin-top: 2vh;
}

.clothing-menu-option-item-left {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 33%;
    color: #e9e9e9;
    text-align: center;
    line-height: 3.6vh;
    border-radius: 1000vh;
    transition: all 0.5s linear;
    border-left: 2px solid rgb(189, 189, 189);
    /* border-top: 2px solid rgb(189, 189, 189);
    border-bottom: 2px solid rgb(189, 189, 189); */
    
}
.clothing-menu-option-item-left:hover > .fa-angle-left{
    filter: drop-shadow(0px 0px 5px #00fbff);
}
.clothing-menu-option-item-left:hover {
    cursor: pointer;
    color: #00e1ff;
    border-left: 2px solid #00e1ff;
}

.clothing-menu-option-item-right {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 33%;
    border-right: 2px solid rgb(189, 189, 189);
    color: #e9e9e9;
    text-align: center;
    line-height: 3.6vh;
    border-radius: 1000vh;
    transition: all 0.5s linear;
}
.clothing-menu-option-item-right:hover > .fa-angle-right{
    filter: drop-shadow(0px 0px 5px #00fbff);
}
.clothing-menu-option-item-right:hover {
    color: #00e1ff;
    border-right: 2px solid #00e1ff;
    cursor: pointer;
}

.item-number {
    position: absolute;
    width: 25%;
    height: 60%;
    top: 2.8vh;
    left: 5.5vh;
    background: none;
    border: none;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1vh;
    letter-spacing: 0.1vh;
    color: white;
    outline: none;
    transition: all 0.1s linear;
}

.clothing-menu-option-item-header {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1vh;
    letter-spacing: 0.1vh;
    color: #ffffffcd;
}

.clothing-menu-option-item-header>p {
    font-family: 'Ubuntu Mono', monospace;
    padding: 0.2vh;
}

.clothing-menu-option-buttons {
    position: absolute;
    bottom: 0vh;
    width: 100%;
    height: 3vh;
}

.clothing-menu-option-button {
    position: relative;
    float: right;
    height: 90%;
    width: 32.8%;
    transition: all .3s linear;
    border:1px solid;
    border-image : linear-gradient(-170deg, white 10%, #af261c00 30%, #af261c00 65%,white 100%) 10;

}

.clothing-menu-option-button:hover {
    box-shadow:inset 0 0 1em 0 #00fbff;
    cursor: pointer;
}

.clothing-menu-option-button>p {
    line-height: 3.1vh;
    font-size: 1.3vh;
    font-family: 'Ubuntu Mono', monospace;
    letter-spacing: 0.1vh;
    text-transform: uppercase;
    color: #ededed;
    text-align: center;
}

.clothing-menu-save-outfit-name {
    display: none;
    position: relative;
    width: 30vh;
    height: 18vh;
    background: linear-gradient(175deg, rgba(0, 59, 82, 0.792) 0%, rgba(0,19,27,1) 100%);
    margin: 0 auto;
    top: 40%;
    border-radius: 0.7vh;
    box-shadow: 0 0 1em 0 rgba(0,19,27,1);
}

.clothing-menu-save-outfit-name-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 17%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.clothing-menu-save-outfit-name-button {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 3vh;
    transition: all 0.5s linear;
}

.clothing-menu-save-outfit-name-button:hover {
    cursor: pointer;
    box-shadow:inset 0 0 1em 0 #00fbff;
}

.clothing-menu-save-outfit-name-button>p {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.1vh;
    letter-spacing: 0.1vh;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.clothing-menu-save-outfit-name-header {
    position: relative;
    width: 100%;
    height: 20%;
    text-align: center;
    line-height: 5vh;
}

.clothing-menu-save-outfit-name-header>p {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.7vh;
    letter-spacing: 0.1vh;
    text-transform: uppercase;
    color: #ededed;
    font-weight: bold;
}

#outfit-name {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 40%;
    background: none;
    border: none;
    outline: none;
    width: 60%;
    height: 27%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    transition: all 1s linear;
    border-radius: .7vh;
}

#outfit-name {
    color: #ededed;
    font-family: sans-serif;
    font-size: 1.75vh;
    letter-spacing: 0.1vh;
    text-transform: uppercase;
    font-weight: bold;
}

#outfit-name::placeholder {
    color: rgba(255, 255, 255, 0.404);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.7vh;
    letter-spacing: 0.1vh;
    text-transform: uppercase;
    font-weight: bold;
}

.change-camera-buttons {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 80%;
    height: 100%;
    width: 36vh;
    background: linear-gradient(175deg, rgba(0, 59, 82, 0.792) 0%, rgba(0,19,27,1) 100%);
}

.change-camera-button {
    position: relative;
    height: 80%;
    width: 50%;
    float: left;
    background-color: rgb(23 23 23 / 80%);
    text-align: center;
    transition: 0.08s;
}

.change-camera-button:hover {
    background: #dc143c;
    cursor: pointer;
}

.change-camera-button>i {
    font-size: 3vh;
    color: #ededed;
    line-height: 5.5vh;
}

.change-camera-footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 20%;
    background: #dc143c;
    line-height: 1.5vh;
    border-bottom-left-radius: .8vh;
    border-bottom-right-radius: .8vh;
}

.change-camera-footer>p {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: 0.8vh;
    text-transform: uppercase;
    color: #ededed;
    letter-spacing: 0.1vh;
}

.slidecontainer {
    width: 100%;
}

.slider {
    appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;

}

.slider {
    position: absolute;
    left: 0!important;
    top: 1.5em!important;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 10px;
    background: #00fbff;
    box-shadow: 0 0 1em 0 #00fbff;

    cursor: pointer;
}

.facemix-labels {
    display: block;
}

.facemix-label-left {
    font-size: xx-small;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
    color: #ededed;
    bottom: 0px;
    left: 0px;
}

.facemix-label-right {
    font-size: xx-small;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
    color: #ededed;
    bottom: 0px;
    right: 0px;
}